---
// Importamos tus componentes de React
// Nota: .. indica "subir un nivel" para salir de 'pages' y buscar en 'components'
import Navbar from '../components/Navbar';
import Hero from '../sections/Hero';
import Services from '../sections/Services';
import About from '../sections/About';
import Contact from '../sections/Contact';
import '../styles/global.css';
import Footer from '../sections/Footer';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Consorcio Up - Administración de Consorcios</title>
	</head>
	<body class="bg-brand-dark min-h-screen">
        <Navbar />
		
		<main>
			<Hero />
			<Services />
			<About />
			<Contact />
		</main>
	</body>
</html>